@charset "utf-8";

/* =============================================================
wrapper.scss
============================================================== */
#wrapper{  
  width: 100%;
  position: relative;
  
  @include mq-down(lg){
    overflow: hidden;
  }
}


.page-top{  
  overflow: hidden;
}
  
