@charset "utf-8";

//  =============================================================
// common.css
// ==============================================================
// 
// 繰り返し使うCSS要素をまとめておくところ
// 

//　aタグの下線消し
@mixin m-alink($linkcolor:$color_txt){
  text-decoration: none;
  color:$linkcolor;
}


// 下線
@mixin m-marker($markercolor, $futosa:60%){
  background: linear-gradient(transparent $futosa, $markercolor $futosa);
}

// box-shadow
$shadow: 0 0 8px rgba(0,0,0,0.2);
$shadow_hover: 0 0 8px rgba(0,0,0,0.5);