@charset "utf-8";

//  =============================================================
// setting.css
// ==============================================================
// 
// サイト別変数
// ミックスインは m- で管理する
//


// カラー --------------------------------------------------------
// 基本は色名で変数を作る。 例）$color_orange

// ▽メインに使うセット
$color_txt: #333;
$color_main: #ff6d1d; // メインカラー
$color_warning : #CF1212; //.redtxt等にも使う
$color_border : #ccc; 
$color_bg: #f5eee7;

//▽各色
$color_orange: #ff7800;
$color_linegray: #ccc;
$color_gray: #666;
$color_red : #CF1212;


// ▽SNSセット
$color_twitter: #1DA1F2;
$color_facebook: #1877f2;
$color_line: #00b900;



// コンテンツサイズ-------------------------------------------------
$contents_base: 1080px;
$contents_base_sm: 960px;
$contents_base_ss: 800px;


// コンテンツパディング----------------------------------------------
// PCの時のサイズ、そこからマイナスしていく
$space_large: 120px;
$space_medium: 80px;
$space_small: 50px;



// テキストサイズ---------------------------------------------------
// pxベースでの指定。pxは省略。mixinでpxからremに変更
$m-fontSize_sp: 14;
$m-fontSize_tab: 15;
$m-fontSize_pc: 16;


// ヘッダーの高さ---------------------------------------------------
$header_size: 60px;




