@charset "utf-8";

/* =============================================================
diyTv.scss
============================================================== */

/* list
--------------------------------------*/
.diyTv_catch{
  margin-bottom: 20px;
  
  @include mq-up(sm){
    display: flex;
    margin-bottom: 30px;
  }
  @include mq-up(lg){
    margin-bottom: 40px;
  }
}


.diyTv_list{
  
  @include mq-up(sm){
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  @include mq-up(md){
    @include m-flex_row3(32%);
  }
  @include mq-up(lg){
    @include m-flex_row3(31%);
  }  
}

.diyTv-item{
  width:100%;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid $color_border;
  
  @include mq-up(sm){
    width:48%;
    padding-bottom: 0;
    margin-bottom: 20px;
    border-bottom: none;
  }
  @include mq-up(md){
    width:32%;
    margin-bottom: 30px;
  }
  @include mq-up(lg){
    width:31%;
    margin-bottom: 40px;
  }
  @include mq-up(xl){
    margin-bottom: 50px;
  }
  
  
  a{
    @include m-alink;
    display: flex;
    
    @include mq-up(sm){
      display: block;
    }
    @include mq-up(lg){
      @include m-transition(opacity);
    }
    
    &:hover{
      @include mq-up(lg){
        opacity: 0.8;
      }      
    }
  }
  
  &_img{
    width:45%;
    @include mq-up(sm){
      width:100%;
    }
  }
  
  &_inner{
    width:55%;
    padding-left:10px;
    @include mq-up(sm){
      width:100%;
      padding:0;
      margin-top: 10px;
    }
    @include mq-up(lg){
      margin-top: 15px;
    }
  }  
  
  &_title{
    color: #c37425;
    @include m-font-size(16);
    line-height: 1.3;
    
    @include mq-up(sm){
      @include m-font-size(17);
      line-height: 1.4;
    }
    @include mq-up(lg){
      @include m-font-size(18);
      line-height: 1.5;
    }
  }
  
  &_houei{
    margin-top: 10px;
    @include m-font-size(11);
    color:$color_gray;
    font-feature-settings: "palt";
    line-height: 1.3;
    
    @include mq-up(sm){
      @include m-font-size(12);
    }
    @include mq-up(lg){
      margin-top: 15px;
    }
  }
}





/* detail
--------------------------------------*/
.diyTv-detail_title{
  color: #c37425;
  margin-bottom: 10px;
  text-align: center;
  
  @include mq-up(sm){
    margin-bottom: 15px;
  }
  @include mq-up(lg){
    margin-bottom: 20px;
  }
  
  .is-spView{
    display: none;
    @include mq-up(sm){
      display: inline;
    }
  }
  
  .is-mdView{
    display: none;
    @include mq-up(md){
      display: inline;
    }
  }
}

.diyTv-detail_onair{
  text-align: center;
  color:$color_gray;
  @include m-font-size(12);
  
  @include mq-up(sm){
    @include m-font-size(13);
  }  
  @include mq-up(lg){
    @include m-font-size(14);
  }
}


.diyTv-detail_main{
  background: $color_bg;
  padding:10px;
  margin-top: 30px;
  
  @include mq-up(sm){
    margin-top: 40px;
    padding:20px;
  }
  @include mq-up(md){
    display: flex;
    justify-content: space-between;
  }
  @include mq-up(lg){
    margin-top: 50px;
    padding:30px;
  }
  
  figure{
    text-align: center;
    
    @include mq-up(md){
      width:48%;
    }
  }
}  
.diyTv-detail_comment{
  margin-top: 10px;  
  
  @include mq-up(sm){
    margin-top: 20px;
  }
  @include mq-up(md){
    width:48%;
    margin-top: 00px;
  }
}




// recipe
.diyTv-recipe{
  
  &_flow{
    @include mq-up(md){
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      flex-wrap: wrap;
    }
    
    & + section{
      margin-top: 40px;
      @include mq-up(sm){
        margin-top: 60px;
      }
      @include mq-up(lg){
        margin-top: 80px;
      }
    }
  }

  &_step,
  &_title{
    margin-bottom: 20px;
    border-bottom: 1px solid #c37425;
    padding: 3px 0 10px 0;
    line-height: 1.3;
    @include m-font-size(16);
    position: relative;
    width:100%;
      
    @include mq-up(sm){
      @include m-font-size(18);
    }  
    @include mq-up(lg){
      @include m-font-size(20);
      margin-bottom: 30px;
    }
  }
  &_step{
    padding-left:80px;

    span{
      width:70px;
      @include m-font-size(12);
      border-radius: 3px;
      background: #c37425;
      color:#fff;
      padding:5px 0px;
      position: absolute;
      top:0;
      left:0;
      text-align: center;      
      
      @include mq-up(sm){
        @include m-font-size(13);
      }
      @include mq-up(lg){
        @include m-font-size(14);
      }
    }
  }

  &_ph{
    text-align: center;
    @include mq-up(md){
      width:42%;
    }
    
    &--wide{
      width:100%;
      display: flex;
      margin-top: 20px;
      
      div{
        width:50%;
      }
    }
  }
  &_txt{
    margin-top: 20px;
    @include mq-up(md){
      margin-top: 0;
      width:55%;
    }
  }
  
  
  &_point{
    border-radius: 10px;
    padding:10px 15px 15px 15px;
    border:1px solid $color_border;
    margin-top: 15px;
    @include mq-up(sm){
      padding:15px 20px 20px 20px;
    }
    @include mq-up(lg){
      margin-top: 30px;
    }
    
    p{
      
      & + p{
        margin-top: 5px;
      }
      
      &:first-of-type{
        font-weight: bold;
        color:#c37425;
        position: relative;
        
        &::before{
          @include m-fa_icon(f06a);
          margin-right: 5px;
          font-size: 123.6%;
        }
      }
      
      &:not(:first-of-type){
        @include m-font-size(13);    
        
        @include mq-up(sm){
          @include m-font-size(14);
        }
        
      }
    }
    
    .btn{
      margin-top: 15px;
        text-align: center;
      
      @include mq-up(sm){
      }
    }
  }


}






