@charset "utf-8";

/* =============================================================
sectionbox.scss
============================================================== */
// セクションの余白

// sectionbox
.sectionbox{
  margin-top: 60px;
  @include mq-up(sm){
    margin-top: 90px;
  }
  @include mq-up(lg){
    margin-top: 120px;
  }
  
  
  & &_inner{
    margin-top: 30px;
    @include mq-up(sm){
      margin-top: 45px;
    }
    @include mq-up(lg){
      margin-top: 60px;
    }
    
  }
}


